@media only screen and (max-width: 46.1875em) {
    /* mobile */
    .hide-on-mobile {
        display: none !important;
    }

    #header .search {
        display: block;
    }

    #header .searchbar {
        position: fixed;
        top: 62px;
        left: 0;
        right: 0;
        margin: 0;
        width: 100%;
        z-index: 3;
        border: 3px solid rgba(0, 0, 0, 0.1);
        transition: transform linear 0.3s;
        opacity: 0;
        visibility: hidden;
    }

    #header #search-checkbox:checked ~ .searchbar {
        display: flex;
        opacity: 1;
        visibility: visible;
        transform: translateY(25px);
    }

    #header .searchbar__history {
        position: fixed;
        top: 100%;
        left: 0;
        right: 0;
    }

    #header .sortbar__item-btn {
        padding: 12px 0;
    }

    #content .mobile-category {
        display: block;
        margin: 10px 0 30px;
    }

    .mobile-category__list {
        display: flex;
        list-style: none;
        max-width: 100%;
        overflow-x: auto;
    }

    .mobile-category__item {
        flex-shrink: 0;
        margin-right: 10px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        overflow: hidden;
        -webkit-box-orient: vertical;
    }

    .mobile-category__item:nth-of-type(3n + 1) .mobile-category__link {
        background-color: #87afd8;
    }
    .mobile-category__item:nth-of-type(3n + 2) .mobile-category__link {
        background-color: #76c9bd;
    }
    .mobile-category__item:nth-of-type(3n + 3) .mobile-category__link {
        background-color: #88cf82;
    }

    .mobile-category__link {
        text-decoration: none;
        color: var(--text-color-secondary);
        font-size: 1rem;
        line-height: 1.2rem;
        text-align: center;
        width: 120px;
        height: 40px;
        display: block;
        border-radius: 3px;
        font-weight: 300;
        user-select: none;
        -webkit-user-select: none;
        -webkit-tap-highlight-color: transparent;
    }

    #content {
        margin: 12px;
        width: 100%;
    }

    #content .grid-product {
        grid-template-columns: repeat(2, 1fr);
        margin: 0 auto;
        gap: 20px;
    }

    #header .sortbar--mobile {
        display: block;
        top: 86px;
    }

    #footer .shipping {
        grid-template-columns: 1fr;
    }

    #footer .shipping__icon {
        width: 80px;
    }

    #footer .shipping__content {
        width: 300px;
    }

    #footer .footer_main {
        grid-template-columns: 1fr 1fr;
    }

    #footer {
        margin: 24px;
    }
}

@media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
    /* tablet */
    .hide-on-tablet {
        display: none !important;
    }

    /* .shop-details {
        display: flex;
    } */

    #header .searchbar {
        flex: 1;
    }

    #content .grid-product {
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }

    #header .sortbar--mobile {
        display: block;
        top: 78px;
    }

    #footer .footer_main {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (max-width: 63.9375em) {
    /* mobile + tablet */

    .hide-on-mobile-tablet {
        display: none !important;
    }

    #header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1;
    }

    #content {
        padding: 130px 0;
    }

    #content .grid-store {
        grid-template-columns: 1fr;
    }

    #content .products {
        grid-template-columns: 1fr;
    }

    #header .menu {
        display: flex;
    }

    #header .header-top {
        margin: 14px 6px 20px;
    }

    #header .header-top-left {
        display: flex;
    }

    .menu-mt {
        display: block;
    }

    #menu-checkbox:checked ~ .menu-mt {
        display: block;
    }

    #menu-checkbox:checked ~ .menu-mt .menu-mobile-tablet {
        transform: translateX(0);
        opacity: 1;
    }

    #menu-checkbox:checked ~ .menu-mt .menu-mt-overlay {
        display: block;
        /* opacity: 1;
        visibility: visible;
        transform: translateY(20px); */
    }

    .menu-mobile-tablet {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        max-width: 100%;
        background-color: #fff;
        display: block;
        z-index: 3;
        transform: translateX(-100%);
        will-change: transform, opacity;
        transition: transform ease-in-out 0.4s, opacity linear 0.4s;
        opacity: 0;
    }

    .menu-mt-overlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.3);
        display: none;
        z-index: 2;
    }

    .menu-mt-close {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 20px 20px;
    }

    .menu-mt-close__icon {
        --size: 24px;
        width: var(--size);
        height: var(--size);
    }

    .menu-mt__list {
        display: flex;
        flex-direction: column;
        padding: 10px 0;
        list-style: none;
    }

    .menu-mt__item {
        padding: 20px 120px 20px 20px;
    }

    .menu-mt__link {
        text-decoration: none;
        font-size: 1.1rem;
        line-height: 1.5;
        color: var(--text-color-primary);
        display: block;
    }

    .menu-mt__link:hover {
        color: var(--color-primary);
    }
}

@media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
    /* Tablet - PC low resolution (740px -  1023px) */
    .auto-fit {
        width: 644px;
    }
}

@media only screen and (min-width: 64em) and (max-width: 77.4375em) {
    /* PC low resolution (1024px - 1239px) */
    .auto-fit {
        width: 984px;
    }

    .hide-on-pc-low-resolution {
        display: none !important;
    }

    #content .grid-product {
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
    }
}
